/* .about-container{
    display: flex;
    flex-direction: row;
    max-width:1183px ;
    max-height: 442px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: #F2F9F6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about-img{
    width: 35%;
    height: 35%;
    margin:inherit;

}
.about-img img{
    width: 390px;
    height: 290px;
    
}

.about-content{
    width: 65%;
    height: 65%;
    margin: 3.5rem;
}
.about-content p{
    color: #004225;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
} */


/* part-2 */


.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    
}


.about-heading-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content-main{
    margin: 2rem;
    line-height: 2rem;
}

.about-content-main-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.about-content-main-2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.about-content-main-3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}