*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.main-container{
   width: 100vw;
   height: 1000px;
}

.main-header{
    position: relative;
     background: url("../main.png") no-repeat;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-size: cover; 
   
}


.main-header p{
    margin-top: 6rem;
    color: #004225;
    text-align: center;
    /* font-family: Inter; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}

.main-header span.home-heading{
    color: #004225;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

