.services-container-main{
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
    margin: 3rem;
}

.services-box-1{
    height: 250px;
    width: 300px;
    background: rgba(0, 66, 37, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.services-box-2{
    height: 250px;
    width: 300px;
    background: rgba(0, 66, 37, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.services-box-3{
    height: 250px;
    width: 300px;
    background: rgba(0, 66, 37, 0.05);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.services-svg-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.services-heading-1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.services-heading-div-1{
    max-width: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: auto;
}


.services-svg-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.services-heading-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.services-heading-div-2{
    max-width: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: auto;
}


.services-svg-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.services-heading-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.services-heading-div-3{
    max-width: 231px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: auto;
}