.footer-container-main{
    display: flex;
    max-width: 100%;
    max-height: 422px;
    /* margin: 3rem; */
    background: rgba(0, 66, 37, 0.09);
}

/* box-1 */
.footer-box-1{

    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2rem;
}

.footer-box-1-img{
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-box-1-content{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-1-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box-1-icon-1{
    margin: 1rem;
}
.footer-box-1-icon-2{
    margin: 1rem;
}
.footer-box-1-icon-3{
    margin: 1rem;
}
.footer-box-1-icon-4{
    margin: 1rem;
}


/* box-2 */

.footer-box-2{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 2rem;
}

.footer-box-2-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-2-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
     margin-top: 1.5rem; 
}


/* box-3 */

.footer-box-3{
    display: flex;
    width: 300px;
    flex-direction: column;
    margin: 2rem;
}

.footer-box-3-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box-3-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}


/* box-4 */

.footer-box-4{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 2rem;
}


.footer-box-4-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-box-4-option{
    margin-top: 1.5rem;
}
