* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signupWrapper{
    
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.mainSignup{
    max-width: 970px;
    display: flex;
    flex-direction: row;
    gap:4rem;
    justify-content: center;
    padding: 3rem;
    border-radius: 16px;
    justify-content: center;
    background-color:rgba(0, 66, 37, 0.03);
}
.infoleft{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
.labelContent{
font-size: 0.9rem;

}
.inputbar{
    border:none;
    outline:none;
    width:20rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    background: rgba(207, 232, 221, 0.80);

}
.createAcountbtn{
    background:#004225;
    color: white;
    width:8rem;
    border-radius: 0.2rem;
    padding:0.5rem;
    margin-top: 2rem;
    cursor: pointer;
}
.signupheading{
    margin:2rem;
    text-align: center;
}

.signuptext{
    margin-top: 2rem;
}
.inforight{
    margin-top:5rem;
}
.signCard{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:2rem;
}
.cardSignContent{
    width:10rem;
    height: 9rem;
    background: rgba(140, 194, 170, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow:  0px 4px 4px 0px rgba(0, 66, 37, 0.80);
    cursor: pointer;
    /* 0 2px 8px 2px rgba(,178,178,178,0.334); */
}
.cardimg{
    margin-top: 1rem;
}
.create-already-acount{
  margin-left: 9%;
}